<%- include("header"); -%>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis magni quia perspiciatis deserunt, illo libero tempore harum suscipit consequatur modi aperiam adipisci iure repellendus sit vel eaque doloribus in quibusdam?</p>
<%- include("header"); -%>